<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_group.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @users_group.group_id %>
</p>

<%= link_to 'Edit', edit_users_group_path(@users_group) %> |
<%= link_to 'Back', users_groups_path %>
